.DS_Store
/.vscode
/cache
/catkeys
/certs
/conf
/coverage
/docker-compose/certcacheclient/certcache/catkeys
/docker-compose/certcacheclient/certcache/certs
/node_modules
/sit/coverage
/sit/skel/server/cache/thirdparty/
/sit/test
/venv
