acme==1.13.0
certbot==1.13.0
certbot-dns-cloudflare==1.13.0
certbot-dns-cloudxns==1.13.0
certbot-dns-digitalocean==1.13.0
certbot-dns-dnsimple==1.13.0
certbot-dns-dnsmadeeasy==1.13.0
certbot-dns-google==1.13.0
certbot-dns-linode==1.13.0
certbot-dns-luadns==1.13.0
certbot-dns-nsone==1.13.0
certbot-dns-ovh==1.13.0
certbot-dns-rfc2136==1.13.0
certbot-dns-route53==1.13.0
certbot-dns-standalone==1.0.3
zope.interface>=5.3.0a1
httplib2>=0.15.0
