services:
  certcache:
    container_name: certcache
    image: ghcr.io/93million/certcache
    restart: 'unless-stopped'
    volumes:
      - ./certcache/catkeys/:/certcache/catkeys/:rw
      - ./certcache/certs/:/certcache/certs/:rw
    environment:
      CERTCACHE_UPSTREAM: <certcache-server>
      CERTCACHE_CERTS: |
        - certName: web
          domains:
            - '<cert-domain-1>'
            - '*.<cert-domain-1>'
            - '<cert-domain-2>'
            - '*.<cert-domain-2>'
  nginx:
    container_name: nginx
    image: nginx
    restart: 'unless-stopped'
    volumes:
      - ./certcache/certs/:/etc/certcache/certs/:ro
      - ./nginx/config/:/etc/nginx/conf.d/:ro
      - ./www/:/var/www/:ro
    ports:
      - '80:80'
      - '443:443'
