# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.x, 14.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install certbot
      run: >-
        sudo apt-get install -y -qq python3 &&
        sudo pip3 install -r docker/requirements.txt
    - name: Install ngrok
      run: sudo tar -C /usr/local/bin -zxf sit/deps/ngrok-v3-stable-linux-amd64.tgz
    - name: Authenticate with ngrok
      run: ngrok config add-authtoken ${{ secrets.NGROK_AUTH_TOKEN }}
    - run: npm i
    - name: Run tests
      env:
        CERTCACHE_CERTBOT_EMAIL: ${{ secrets.CERTCACHE_CERTBOT_EMAIL }}
      run: sudo npm test -- --runInBand --silent=false
